.page {
  margin: 0.5em auto;
}

body {
  /* the body tag adds a central image that should show through once the other
  styles are adjusted. */
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: rgb(92, 92, 106);
  background-size: cover;
}

.container {
  /* Used as item in flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: flex-start;
}

#pitch {
  /* Used as item in flexbox */
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 2.5em 0.5em 2.5em 2.5em ;
  position: relative;
  box-shadow: 4px 4px 2px #ddd;
  box-sizing: border-box;
  font-size: 1.5em;
  line-height: 150%;
  width: 30em;
}

#buy-now {
  /* Necessary for flexbox */
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 2.5em 2.5em 2.5em 0.5em;
  position: relative;
  box-shadow: 4px 4px 2px #ddd;
  box-sizing: border-box;
  font-size: 1.5em;
  line-height: 150%;

  width: 20em;
}

a {
  /* fixes the links with shadows */
  text-shadow: none;
}

.when-and-where {
  /* for the date in the header */
    color: #efe9e0;
    text-align: center;
}

@media screen and (max-width: 1478px) {
  #pitch {
    margin: 2.5em 2.5em 0.5em 2.5em;
    width: 30em;
    font-size: 1em;
  }

  #buy-now {
    margin: 0.5em 2.5em 2.5em 2.5em;
    width: 20em;
    font-size: 1em;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 342px;
  }

  #pitch, #buy-now {
    font-size: 1em;
    margin: 0.5em;
  }
}
